---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=GOOGLE_PLACES_KEY&place_id=ChIJ6QNZReR5aYcRF4KOp0PuJ_o
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "Colorado",
                    "short_name" : "CO",
                    "types" : [ "administrative_area_level_1", "political" ]
                 },
                 {
                    "long_name" : "United States",
                    "short_name" : "US",
                    "types" : [ "country", "political" ]
                 }
              ],
              "adr_address" : "\u003cspan class=\"region\"\u003eColorado\u003c/span\u003e, \u003cspan class=\"country-name\"\u003eUSA\u003c/span\u003e",
              "formatted_address" : "Colorado, USA",
              "formatted_phone_number" : "(970) 586-1206",
              "geometry" : {
                 "location" : {
                    "lat" : 40.3427932,
                    "lng" : -105.6836389
                 },
                 "viewport" : {
                    "northeast" : {
                       "lat" : 40.5234099,
                       "lng" : -105.4166039
                    },
                    "southwest" : {
                       "lat" : 40.178054,
                       "lng" : -105.9363539
                    }
                 }
              },
              "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png",
              "id" : "4a7036773fe75c48ca48060242290c65ea8fdd49",
              "international_phone_number" : "+1 970-586-1206",
              "name" : "Rocky Mountain National Park",
              "photos" : [
                 {
                    "height" : 459,
                    "html_attributions" : [
                       "\u003ca href=\"https://maps.google.com/maps/contrib/115230797092150522443/photos\"\u003eDavid Muckian\u003c/a\u003e"
                    ],
                    "photo_reference" : "CmRaAAAAGEALarlnxVzgq1t25tpuG3VQDZH2B-EYCCBesxd3ZEOc6CKvCHcRulpoUuyUQFmamGQvQedNank_2Pfhz4EOox-nUulZziMFGjo0FZems3o-Op8_OF3yHOd5AmJJ_EJPEhCcUC2j0Ekqbxlcm7Mcx1pDGhTxj1Q9POgfBFwlRKjf3yWLCmTG7A",
                    "width" : 816
                 },
                 {
                    "height" : 3120,
                    "html_attributions" : [
                       "\u003ca href=\"https://maps.google.com/maps/contrib/106167869108215778506/photos\"\u003eCynthia Jansen\u003c/a\u003e"
                    ],
                    "photo_reference" : "CmRaAAAA7JAQWXDI4fGYgn_feZDGUVpm1xw-nWuU5l4cTl8i9UmebAin-kjuyLJgJw_Dfu70roVa9a06N4cpz02Df1h5mSqGo3w-a8R0pb63kmisaaNM3in6VOSJzAxmZFzoofRFEhAw5U96n_nNpQGA29tGUgnZGhRCqv8_f[...]
