---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=GOOGLE_PLACES_KEY&query=National%20Parks%20Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "formatted_address" : "Colorado, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 37.7915959,
                       "lng" : -105.5943276
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.82128595,
                          "lng" : -105.4702779
                       },
                       "southwest" : {
                          "lat" : 37.70252575000001,
                          "lng" : -105.6356775
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/generic_recreational-71.png",
                 "id" : "17cf23f823ef1774ef70c769d9c44542b0250320",
                 "name" : "Great Sand Dunes National Park and Preserve",
                 "photos" : [
                    {
                       "height" : 3265,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108558573374685528852/photos\"\u003eJan Boula\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAfnR4wYLXRMRzGxl7_eeT30CatBMwpaco3at3qYZw39y3dn7y6ncCHeKI8STL2r_HFvol65NxLoplqeteo4y0Dn_cz5fJsu9CgQM_cPC9D3WPy9RBMpe9s9C9-wpDaoeuEhBUXDhbQ2zQkLrGvTs_2O6tGhR7pGYrw7lKhprAIY0V5buVddFZOQ",
                       "width" : 4898
                    }
                 ],
                 "place_id" : "ChIJx8vZHeYvFIcR2YMP0IqR1zM",
                 "rating" : 4.8,
                 "reference" : "CmRbAAAAFIns4tXDRG1tYY-nzI9FgKofP22xSerr6wvL6nNdTptazpg7HOy-c5JT1A3SrNccqD3hUrlm6fe6n_Cyr-ow74-F4iVjavQimhq1ANa9mREMDPMbs3I9wGNp6xuhGdbQEhCxAhqjcoAf1TZG6yyRntgZGhTwxgLlQFHTMjPU6g2gwRlbh3EUBQ",
                 "types" : [ "park", "point_of_interest", "establishment" ]
              },
              {
                 "formatted_address" : "Colorado, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 38.5753936,
                       "lng" : -107.7415961
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.66267920000001,
                          "lng" : -107.60877545
         [...]
