---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search/phone?phone=%2B12159281911
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HIQvHE5S68HPOQUl-sZ9Ee6VJo_XzpPXh1qq0DV3NyweB16CusTkz4t0hyHKUhOr-i9r_x0vvqnxtEsy9OCXUPoe78t29aHlnxnwL03qdPwY1ZByAIK7tX_yhlWSWnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '25000'
      Ratelimit-Remaining:
      - '24975'
      Ratelimit-Resettime:
      - '2018-02-26T00:00:00+00:00'
      X-Proxied:
      - 10-65-123-187-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "jims-steaks-philadelphia-6", "name": "Jim''s
        Steaks", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/eHfm0lKSyq-9n9EF3rt_BA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/jims-steaks-philadelphia-6?adjust_creative=vxKsFKa4Nf00iDDmKjueqg&utm_campaign=yelp_api_v3&utm_medium=api_v3_phone_search&utm_source=vxKsFKa4Nf00iDDmKjueqg",
        "review_count": 1920, "categories": [{"alias": "sandwiches", "title": "Sandwiches"},
        {"alias": "cheesesteaks", "title": "Cheesesteaks"}, {"alias": "pizza", "title":
        "Pizza"}], "rating": 3.5, "coordinates": {"latitude": 39.9415112, "longitude":
        -75.1492746}, "transactions": [], "price": "$", "location": {"address1": "400
        South St", "address2": "", "address3": "", "city": "Philadelphia", "zip_code":
        "19147", "country": "US", "state": "PA", "display_address": ["400 South St",
        "Philadelphia, PA 19147"]}, "phone": "+12159281911", "display_phone": "(215)
        928-1911"}], "total": 1}'
  recorded_at: Sun, 25 Feb 2018 08:47:28 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=39.9415559&longitude=-75.1493097&term=Jims%20Steaks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HIQvHE5S68HPOQUl-sZ9Ee6VJo_XzpPXh1qq0DV3NyweB16CusTkz4t0hyHKUhOr-i9r_x0vvqnxtEsy9OCXUPoe78t29aHlnxnwL03qdPwY1ZByAIK7tX_yhlWSWnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit[...]
